* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid; */
}

:root{
    --cor-principal: #f7d2d2;
    --cor-fundo: #ffffff;
    --cor-texto: #000000;
    --cor-link: #003121;
}

header{
    width: 100%;
}

.header{
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center ;
    align-items:center;
    gap: 5px;
    padding: 20px;
}

.header input{
    height: 30px;
    width: 400px;
}

h1{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

table{
    height: 450px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.container1{
    margin: 0px 180px;
}

.container2{
    margin: 20px 40px; 
}

.menu{
    display: flex;
    background-color: rgb(239, 238, 230);
    height: 40px;
    align-items: center;
}

.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    margin-left: 20px;
}

.menu a:hover {
    transform: scale(1.05);
}

.hamburguer{
    display: none;
    margin-left: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position:absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown-content a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #2b2b2b;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.rel{
    height: 80px;
}

.rel2{
    width: 40px;
    border: none;
}

td, th {
   text-align: center;
   vertical-align: middle;
   border-top: 1px solid darkgrey;
   border-bottom: 1px solid darkgrey;
   padding: 10px;
}

